* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --first-light-bc: #fff;
  --second-light-bc: #eaeaea;

  --first-light-text-c: #000;
  --second-light-text-c: #5c5c5c;

  --first-dark-bc: #232323;
  --second-dark-bc: #474747;

  --first-dark-text-c: #fff;
  --second-dark-text-c: #c9c9c9;

  --third-light-blue: #147efb;
  --third-dark-blue: #0c60c0;
}

body[lang="ru"] {
  line-height: 1.2;
}

body[lang="en"] {
  line-height: 1.8;
}
